<launch>

    <master auto="start"/>
     <!-- Run the map server --> 


    <node name="stageros" pkg="stage_ros" type="stageros" args="$(find robot_decisions)/map/willow-erratic.world">
        <remap from="base_scan" to="scan" />
    </node>
    <node pkg="rqt_graph" name="rqt_graph" type="rqt_graph" />
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find stage_ros)/rviz/stage.rviz" />

    <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">
        <remap from="scan" to="scan" />

    </node>

</launch>
